@font-face {
    font-family: "EarlyGameBoy";
    src: url("./fonts/EarlyGameBoy.ttf") format("truetype");
}

body {
    font-family: "EarlyGameBoy", sans-serif;
    text-align: center;
}

#start-screen {
    width: 1600px;
    height: 896px;
    text-align: center;
    background-color: mediumpurple;
}